# =======================================================
# Agora MS SQL Server Environment Configuration
# =======================================================
TIMEZONE=Asia/Seoul

MSSQL_SA_PASSWORD=AgoraStrong@Passw0rd!2026
MSSQL_PID=Express # 무료 운영용: Express, 개발/테스트용: Developer, 상용: Standard
MSSQL_PORT=1433

# 데이터베이스 및 일반 사용자 계정 설정
MSSQL_DB=agora_db
MSSQL_USER=agora_user
MSSQL_PASSWORD=AgoraUserSecret@Passw0rd!2026
