# =======================================================
# Agora MS SQL Server Environment Configuration
# =======================================================
TIMEZONE=Asia/Seoul

MSSQL_SA_PASSWORD=AgoraStrong@Passw0rd!2026
MSSQL_PID=Express # 무료 운영용: Express, 개발/테스트용: Developer, 상용: Standard
MSSQL_PORT=1433
