# =======================================================
# Agora Elasticsearch Environment Configuration
# =======================================================
TIMEZONE=Asia/Seoul

ELASTIC_PASSWORD=AgoraElasticSecret@Passw0rd!2026
ES_PORT=9200
ES_JAVA_MIN_MEM=1g
ES_JAVA_MAX_MEM=2g
