# =======================================================
# Agora Elasticsearch Environment Configuration
# =======================================================
TIMEZONE=Asia/Seoul

ELASTIC_PASSWORD=AgoraElasticSecret@Passw0rd!2026
ES_PORT=9200
ES_JAVA_MIN_MEM=1g
ES_JAVA_MAX_MEM=2g

# 외부 접속 IP 및 외부 포트 설정 (바인딩 및 외부 접속용)
ES_EXTERNAL_IP=127.0.0.1
ES_EXTERNAL_PORT=9200

# 인덱스(데이터베이스 역할) 및 일반 사용자 계정 설정
ES_INDEX=canvas
ES_USER_NAME=agora_user
ES_USER_PASSWORD=AgoraUserSecret@Passw0rd!2026
