# =======================================================
# Agora Redis Stack Environment Configuration
# =======================================================
TIMEZONE=Asia/Seoul

REDIS_PASSWORD=AgoraRedisSecret@Passw0rd!2026
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001

# 일반 사용자 계정 및 권한 설정
REDIS_USER=agora_user
REDIS_USER_PASSWORD=AgoraUserSecret@Passw0rd!2026
